/* NAV BAR STARTS  */
@media (min-width:991px)  {
  nav{
    box-shadow: none;
  }
} 

@media (max-width:991px)  {
  #custom_nav li{
    text-align: right;
  }
}
@media (max-width:992px)  {
  .navbar-toggler img{
    text-align: end;
  }
}
/* NAV BAR ENDS  */
/* hero section starts */
@media (min-width:320px) and (max-width:1200px){
  #hero{
    padding: 37px 0;
  }
  #hero h5{
    font-size: 17px;
 }
 #hero h1 {
  font-size: 32px;
  }
  #hero p {
    font-size: 14px;
}
#hero .hero_cont .bttn{
  font-size: 10px;
  padding: 8px 20px;
}
#hero .hero_cont .bttn.outline{
  margin-left: 19px;
}
#hero .hero_cont .hero_icon h4{
    padding: -4px;
    cursor: default;
    font-size: 16px;
}
.hero_icon span {
  margin-right: 0px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 21px;
}
}
@media (min-width:320px) and (max-width:400px){
  .hero_icon h4 {
    padding: 6px;
    font-size: 19px;
}
.hero_icon span {
  margin-right: 2px;
  width: 33px;
  height: 33px;
  line-height: 33px;
  font-size: 19px;
}
}
/* hero section ends*/

/* about section starts */
@media (min-width:320px) and (max-width:991px) {

  #about .about_img{
    transform: scaleX(-1);
    order: 2;
    
  }
}
@media (min-width:320px) and (max-width:991px){
  #about .about_cont{
    padding-left: 17px;
  }
  #about .about_cont h2 {
    font-size: 28px;
    padding: 32px 0 27px 0;
}
#about .about_cont p {
  font-size: 12px;
  line-height: 165%;
}
#about .about_cont .bttn {
  font-size: 14px;
  padding: 11px 28px;
  border-radius: 15px;
  margin-top: 31px;
}
}
@media (min-width:991px) and (max-width:1200px) {
  #about .about_cont .bttn {
    margin-top: 18px;
}
#about .about_cont p {
  font-size: 16px;
}bout .about_cont h2 {
  font-size: 40px;
  padding: 54px 0 10px 0;
}
}
/* about section ends */

/* branding section starts */
@media (min-width:320px) and (max-width:991px) {

  #branding .branding_img{
    order: 2;
  }
  #branding .branding_cont{
    padding-left:40px;
    padding-bottom: 17px;
    padding-top: 27px;
  }
  #branding .branding_cont h2 {
    font-size: 24px;
    padding-bottom: 23px;
}
#branding .branding_cont p{
  font-size: 14px;
  padding-right: 31px;
}
}
@media (min-width:768px) and (max-width:1200px){
  #branding .branding_cont .bttn {
    margin-top: 24px;
}
}

